name: Build LaTeX document
on: [push]
jobs:
  build-latex:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Git repository
        uses: actions/checkout@v4

      - name: Setup TeX Live
        uses: teatimeguest/setup-texlive-action@v3
        with:
          repository: https://mirror.math.princeton.edu/pub/CTAN/systems/texlive/tlnet
          packages: >-
            scheme-basic
            collection-xetex
            enumitem
            ragged2e
            xcolor
            xifthen
            ifmtarg
            etoolbox
            setspace
            fontspec
            unicode-math
            fontawesome5
            roboto
            xkeyval
            sourcesanspro
            tcolorbox
            pgf
            environ
            tikzfill
            parskip
            biblatex
            texliveonfly

      - name: Build PHP Resume
        run: texliveonfly -c xelatex as-php-developer.tex

      - name: Build JS Resume
        run: texliveonfly -c xelatex as-js-developer.tex

      - uses: actions/upload-artifact@v4
        with:
          name: resume
          path: "*.pdf"
          if-no-files-found: error